.contenedor-nav{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: black;
}
#navbarNavDropdown{
    justify-content: center;
    
}

.navbar-nav{
    font-size: 25px;
    gap: 20px;
}

.navbar-nav li a{
    color: white;
    margin-right: 30px;
}

.navbar-nav li a:hover{
    color:#68a0e0 ;
}

.icono{
    width: 60px;
    border:3px #68a0e0 solid ;
    margin-left: 15px;
    border-radius: 5px;
    
    
}

.icono:hover{
    filter: drop-shadow(0 0 2em #68a0e0);
    
}
.dropdown-menu li a {
    color: black;
    border-bottom: #ccc 2px solid;
    
    
}
