footer{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 25vh;
    padding: 10px;
    color: white;
    background-image: linear-gradient(60deg, #22262b 0%, #13171b 100%);
}
footer .redes a i {
    padding: 15px;
    font-size: 35px;
    margin: 20px auto;
    color: #018baa;
}
.redes a i:hover{
    color: #03c6f1;
}

footer .link a{
    text-decoration: none;
    font-size: 30px;
}

footer .link a:hover{
    color: cyan;
    text-decoration: underline;
}
.logo-whatapp a img{
    width: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    
}
@media screen and (max-width:600px){
    footer .redes a i{
        font-size: 20px;
        padding: 2px;
    }
    footer{
        gap: 15px;
        padding: 15px;
    }
    footer .link a{
        font-size: 20px;
    }
    
}

