
.slide img{
    border-radius: 10px;
    height: 600px;
    
}
.carousel-bg{
    
    width: 80%;
    margin: 8rem auto;
    
    
}
.carousel{
    border: 2px solid cornflowerblue ;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #64c1ff);
    
}

@media screen and (max-width:600px){
    .carousel-bg{
        width: 90%;
        
    }
    .slide img{
        height: 250px;
    }
    
    
}
