.contenedor-categoria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.bton {
    border: 2px solid cyan;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-size: 18px;
    font-weight: 500;
    color: white;

}

.bton:hover {
    
    filter: drop-shadow(0 0 10px cyan);
}

.card, .card-img-top{
    border-radius: 20px;
    overflow: hidden;
    
}